<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Détails de la réservation</h1>
      <h3><%= @booking.location %></h3>
      <p>Du <%= @booking.start_date %> au <%= @booking.end_date %></p>
      <p><%= @booking.price %> euros tout, tout, inclus</p>
      <p><%= link_to "Back to the artist list", bands_path %></p>
    </div>
  </div>
</div>
