<div class="banner">
  <div class="banner-content">
    <h1 class="ml3">Des musiciens pour tous</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">
          <% bands = Band.all %>
          <% band = bands.sample %>
          <%= band.genre %>
        </div>
        <div class="card-description">
          <h2> <%= band.name %></h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">
          <% bands = Band.all %>
          <% band = bands.sample %>
          <%= band.genre %>
        </div>
        <div class="card-description">
          <h2> <%= band.name %></h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">
          <% bands = Band.all %>
          <% band = bands.sample %>
          <%= band.genre %>
        </div>
        <div class="card-description">
          <h2> <%= band.name %></h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>



