<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h1>Ajouter mon groupe</h1>
      <%= simple_form_for @band do |f| %>
        <%= f.input :name, label: "Nom" %>
        <%= f.input :city, label: "Ville" %>
        <%= f.input :price, label: "Prix" %>
        <%= f.association :genre, input_html: { class:'select2' } %>
        <%= f.input :image %>
        <%= f.input :image_cache, as: :hidden %>
        <%= f.button :submit, "Créer le groupe", class: "btn-primary" %>
      <% end %>
      <p><%= link_to "Retour à la liste des artistes", bands_path %></p>
    </div>
  </div>
</div>
