<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Create a new band</h1>

      <%= simple_form_for @band do |f| %>
        <%= f.input :name %>
        <%= f.input :city %>
        <%= f.input :conditions %>
        <%= f.input :price %>
        <%= f.association :genre %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
