<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2><%= @band.name %></h2>

      <p>Groupe basé à : <%= @band.city %></p>
      <p>Leurs conditions : <%= @band.conditions %></p>
      <p>Cachet du groupe : <%= @band.price %> euros</p>
      <p><%= cl_image_tag @band.image, crop: :fill %></p>

      <p><%= link_to "Réserver !", new_band_booking_path(@band), class: "btn btn-primary"  %></p>
      <p><%= link_to "Retour à la liste des artistes", bands_path  %></p>
    </div>
  </div>
</div>
