<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2><%= @band.name %></h2>
      <p>Groupe basé à : <%= @band.city %></p>
      <p>Leurs conditions : <%= @band.conditions %></p>
      <p>Cachet du groupe : <%= @band.price %> euros</p>
      <p><%= cl_image_tag @band.image, crop: :fill %></p>
      <!--
      <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=184212582/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://canibaldandies.bandcamp.com/album/canibal-dandies">Canibal Dandies by Canibal Dandies</a></iframe>
       -->
      <p><%= link_to "Réserver !", new_band_booking_path(@band), class: "btn btn-primary"  %></p>
      <p><%= link_to "Retour à la liste des artistes", bands_path  %></p>
    </div>
  </div>
</div>
